.update{
    background-color: white;
    width:700px;
    padding:10px;
    margin-left:300px;
    margin-top:-850px;
    display:none;
}

.updateOne{
    margin-left:120px;
}
.updateOne img{
    margin-left:50px;
    width:100px;
    height:100px;
}

.updateOne button{
    border:1px solid black;
    background-color: white;
    color:black;
    padding:10px;
    border-radius: 15px;
    margin-left:50px;
    cursor:pointer;
}
.response{
    margin-left:-50px;
    border-top:2px solid rgb(255, 0, 212);
    font-family: Arial, Helvetica, sans-serif;
    padding:20px;
    align-items: center;
}

.response th{
    background-color: black;
    color:white;
    padding:10px;
    margin:20px;
}

.response img{
    width:30px;
    height:30px;
    cursor:pointer;
}

.edit{
    position: fixed;
    box-shadow: 10px 10px 30px 800px rgba(0, 0, 0, 0.623);
    margin-top: -500px;
    width:700px;
    height:400px;
    background-color:white;
    color:black;
    overflow: scroll;
    overflow-x: hidden;
    display:none;
}
.editOne{
    padding:10px;
    margin-left:50px;
}
.editOne input{
    padding:10px;
    border-left:none;
    border-right:none;
    border-top:none;
    margin:10px;
    
}
.editOne button{
    background-color:white;
    color:black;
    width:80px;
    padding:10px;
   
    margin:10px;
}
.editTwo{
    margin-left:150px;
    margin-top:5px;
}
.editTwo input{
    padding:10px;
    border-left:none;
    border-right:none;
    border-top:none;
    margin:10px;
}

.editTwo button{
    background-color:white;
    color:black;
    width:80px;
    padding:10px;
    border-radius:10px;
    margin:10px;   
    cursor:pointer;
}

.editTwo button:hover{
    border-color:rgb(255, 0, 191);
}

.edited{
    position: fixed;
    box-shadow: 10px 10px 30px 800px rgba(0, 0, 0, 0.623);
    margin-top: -2400px;
    width:700px;
    height:400px;
    background-color:white;
    color:black;
    overflow: scroll;
    overflow-x: hidden;
    
}